.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: transparent;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 0rem;
    right: 0rem;
    z-index: 2000;
    // box-shadow: 0 1rem 3rem rgba(#000, 0.2);
    text-align: center;
    cursor: pointer;
  }

  // &__background {
  //     height: 6rem;
  //     // width: 6rem;
  //     // border-radius: 50%;
  //     position: fixed;
  //     // top: 4.5rem;
  //     // right: 6.5rem;
  //     // background-image: radial-gradient(#2998ff, #5643fa);
  //     z-index: 1000;
  //     // transition: transform 8.8s cubic-bezier(0.86, 0, 0.07, 1);
  //   }

  &__nav {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    // opacity: 0;
    display: none;
    width: 0;
    transition: all 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    list-style: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    display: flex;
    @media only screen and (max-width: 991px) {
      bottom: 0;
      flex-direction: column;
      top: 60%;
    }
  }
  .title-header1 {
    position: absolute;
    top: 0;
    left: 30px;
    transition: 0.5s;
    @media only screen and (max-width: 991px) {
      font-size: 60px;
      line-height: 60px;
      margin-top: 30px;
    }
  }

  &__link {
    &:link {
      display: inline-block;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      // background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 230%;
      // transition: all 0.4s;
      position: relative;
    }
    &:visited {
      font-size: 2rem;
    }

    &:hover,
    &:active {
      background-position: 100%;
      &:before {
        position: absolute;
        content: "";
        width: 47px;
        height: 8px;
        bottom: 0;
        right: 30px;
        background: rgba(66, 133, 244, 1);
        border-radius: 18px;
      }
    }
  }

  // &__checkbox:checked ~ &__background {
  //   transform: scale(80);
  // }

  &__checkbox:checked ~ &__nav {
    // opacity: 1;
    display: block;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 2rem;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      bottom: -0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    bottom: -1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    bottom: 0;
  }
}
